<%= render 'shared/errors', obj: @article %>

<section id="article-form-shared">
  <%= form_with(model: @article, local: true, class: "article-form-container") do |f| %>
    <div class="article-form-shared-title">
      <strong><%= f.label :title %><br/></strong>
      <%= f.text_field :title, placeholder: "Write Title..." %>
    </div>
    <div class="article-form-shared-desc">
      <strong><%= f.label :description %><br/></strong>
      <%= f.text_area :description, placeholder: "Write Description..." %>
    </div>
    <div class="article-form-shared-ctg">
        <strong><%= f.label :category %><br/></strong>
      <div class="ctg-ch-boxes">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c| %>
          <div class="ctg-ch-box"><%= c.check_box + c.label %></div>
        <% end %>
      </div>
    </div>

    <a>
      <%= f.submit class: "btn-side" %>
    </a>
  <% end %>
</section>