<% if @article.errors.any? %>
  <div class="article-error">
    <h3>The following errors prevented the article from being updated:</h3>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section id="article-form-shared">
  <%= form_with(model: @article, local: true, class: "article-form-container") do |f| %>
    <div class="article-form-shared-title">
      <strong><%= f.label :title %><br/></strong>
      <%= f.text_field :title, placeholder: "Write Title..." %>
    </div>
    <div class="article-form-shared-desc">
      <strong><%= f.label :description %><br/></strong>
      <%= f.text_area :description, placeholder: "Write Description..." %>
    </div>
    <a class="btn-submit">
      <%= f.submit %>
    </a>
  <% end %>
</section>