<section id="article-show">
  <div class="section-p1">
    <h4><%= @article.title %></h4>
    <p><%= @article.description %></p>
    <% if @article.user %>
      <p>By <%= link_to @article.user.username, @article.user %></p>
    <% end %>
  </div>
  <div class="article-action">
    <a><%= link_to 'Go to articles listing', articles_path, class: "btn-normal" %></a>
    <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
      <a><%= link_to 'Edit', edit_article_path(@article), class: "btn-side" %></a>
      <a><%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-side-warning" %></a>
    <% end %>
  </div>
</section>