<h1><% if current_user.admin? && @user == current_user %><strong>(Admin) </strong><% end %><%= @user.username %>'s profile'</h1>
<%= gravatar_for @user, size: 200 %>
<%= render 'articles/article_listing' %>
<% if logged_in? && (current_user.admin? || @user == current_user) %>
  <%= link_to 'Delete Profile', user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-side-warning" %>
<% end %>
<div class="apple_pagination">
  <%= will_paginate @articles %>
</div>