<section id="users-show-main">
  <div class="user-data">
    <%= gravatar_for @user, size: 200 %>
    <h1><% if current_user&.admin? && @user == current_user %><strong>(Admin) </strong><% end %><%= @user.username %>'s profile'</h1>
    <% if logged_in? && (current_user.admin? || @user == current_user) %>
      <%= link_to 'Delete Profile', user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-side-warning" %>
    <% end %>
  </div>
  <div class="text-main-users">
    <h3>Articles written by <%= @user.username %></h3>
  </div>
  <% if !@user.articles.empty? %>
    <%= render 'articles/articles-listing' %>
  <% else %>
    <p>There is nothing to show</p>
  <% end %>
</section>
<div class="apple_pagination">
  <%= will_paginate @articles %>
</div>