<section id="articles">
  <div class="text">
    <h3>Article Updates</h3>
    <h4><%= link_to "View all", articles_path, class: "all-articles"%></h4>
  </div>
  <div class="articles-grid">
    <% @articles.each do |article| %>
      <div class="article-card">
        <h6><%= link_to article.title, article_path(article), class: "article-title"%></h6>
        <p class="desc"><%= article.description %></p>
        <%= link_to 'Read more', article_path(article), class: "read-more" %>
        <p><%=  article.created_at %></p>
      </div>
    <% end %>
  </div>
</section>