<section id="hero">
  <h2>Alpha Blog</h2>

  <div class="items">
    <a><%= image_tag("hero-bg-home.jpg", :alt => "hero") %></a>
    <div class="container">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in orci in sapien aliquet porta id id nulla. Maecenas non magna metus. In vel tristique ligula. Sed sapien quam, dictum eget posuere et, finibus id est. Vestibulum vitae ante nisi. Curabitur feugiat, risus at ultrices elementum, mi neque vulputate metus, vulputate aliquet diam tortor in orci. Mauris augue mauris, iaculis eget tellus nec, tempus pretium dui. Mauris eget risus placerat, dapibus tortor commodo, tincidunt justo. Fusce porta quis lacus sit amet luctus. Proin sodales rhoncus elit eget ultrices. Sed vestibulum erat eget tellus luctus semper. Nulla suscipit, justo sed ultricies imperdiet, ipsum justo rhoncus nulla, sed tempor nisi metus non urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus magna, gravida et varius nec, facilisis sit amet purus.

        Donec mollis quam enim, sed aliquet risus commodo eu.</p>
      <div class="buttons">
        <%= link_to 'Learn More', 'https://github.com/Nx0dle/AlphaBlog', class: "btn-normal" %>
        <%= link_to 'Sign Up',  signup_path, class: "btn-side" %>
      </div>
    </div>
  </div>
</section>
<section id="home-article-index-short" style="padding-bottom: 100px;">
  <%= render 'shared/articles-listing-home' %>
  <div class="apple_pagination">
    <%= will_paginate @articles %>
  </div>
</section>
